a {
  text-decoration: none;
  background-color: orange;
  color: white;
}

.not-a-link {
  color: yellow;
}
#heading-five {
  color: silver;
}
li {
  color: pink;

}
header:hover {
  background-color: rebeccapurple;
}

button {
  height: 30px;
  width:200px;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  height: 350px;
  background-image: url("https://www.biography.com/.image/t_share/MTIwNjA4NjMzNzYwMjg2MjIw/nicolas-cage-9234498-1-402.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}